.poster{
  position: relative;
  min-width: 1200px;
  width: 100%;

}
.poster .Museumbanner{
min-width: 1200px;
width: 100%;
opacity: 0;

animation: bgchangesell .5s forwards ;
}

@keyframes bgchangesell {
  0% {
    opacity: 0;
  }
  100% {
    opacity:1;
  }
}
.content{
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}
.content h1{
  text-align: center;
  font-size: 38px;
  font-family: PingFang-SC-Bold, PingFang-SC;
  font-weight: bold;
  color: #333333;
  margin-top: 100px;
  margin-bottom: 80px;
  animation: htop 1s forwards ;

}
@keyframes htop {
  0% {
    margin-top: 0px;
    opacity: 0;
  }
  100% {
    margin-top: 100px;
    opacity: 1;
  }
}
.content .text-box{
width: 956px;
display: flex;
margin: 0 auto;

}
.content .text-box .li{
width: 25%;
height: 50px;
border: 1px solid #DDDDDD;
}

.marshalling{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  animation: bgchangesell .5s forwards ;

}

.list-group-item-primary{
  background:#fff;
  color: #666666;
  cursor: pointer;
  width: 25%;
  text-align: center;
}

.list-group-item-primary.list-group-item-action:focus, .list-group-item-primary.list-group-item-action:hover{
  color: #333;
}
.list-group-item-action-li  {
  background-color: #FF7B00;
  color: #FFFFFF;
  transition: all .3s cubic-bezier(.645,.045,.355,1);
}
.list-group-item-action-li-miao{
  
    animation: bgchangesell 2s forwards ;
}

.list-group{
  width: 100%;

}

.div321{
  margin-top: 60px;
  position: relative;
  margin-bottom: 140px;
}

.div321 p {text-indent:2em ;
  font-size: 16px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 28px;
  color: #666666;} 
 


  #allmap{
    height: 540px;
    margin-bottom: 140px;
  }


